body{
    background-color: rgb(99, 7, 7);
}
#main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color:rgb(134,43,43) ;
    color: rgb(194,163,3);
}
.inputs{
    display: flex;
    flex-direction: row;
    padding: 15px 0px 15px 0px;
    align-items: center;
}
.inputs p{
    padding-right: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
input[type="text"]{
    height: 25px;
}
#submit{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    background-color: rgb(194,163,3);
    border-radius: 10px;
}
#reset{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    background-color: rgb(194,163,3);
    border-radius: 10px;
}